/*
========================================================================================
    ccsmethphase Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
    learn from nf-core and nanome
*/

// Global default params, used in configs
params {
    help                       = false

    // Specify your pipeline's command line flags
    // Input options ===============
    input                      = null // input_sheet.tsv
    outdir                     = "demo"
    basecall_bam               = null
    mm2_opts                   = null

    picard_jar_utils           = "~/tools/RedNano-nextflow/RedNano-main/RedNano/utils/picard.jar"
    sam2tsv_jar_utils          = "~/tools/RedNano-nextflow/RedNano-main/RedNano/utils/sam2tsv.jar"
    guppy_basecaller_utils     = "~/tools/ont-guppy/bin/guppy_basecaller"
    extract_features_utils     = "~/tools/RedNano-nextflow/RedNano-main/RedNano/scripts/extract_features.py"
    predict_utils              = "~/tools/RedNano/RedNano/scripts/predict_rl.py"
    rl_syn_model_states_utils  = "~/tools/RedNano/models/rl_syn_model_states.pt"
    eval_at_read_level_utils   = "~/tools/RedNano/scripts/eval_at_read_level.py"

    enable_conda                 = false

}

report {
    enabled = true
    file = 'workflow_report.html'
    overwrite = true
}
dag {
    enabled = true
    file    = "pipeline_dag.jpg"
    overwrite = true
}
trace {
    enabled = true
    file    = "execution_trace.txt"
    overwrite = true
}

